<div>
    {{!-- <h1>Hola {{name}}, Bienvenido</h1> --}}
    
    <h1>Hola {{Nombre}} {{Apellido}}, Bienvenido</h1>
    <h1>Tu Edad es {{Edad}}</h1>
    <h1>Tu Correo es{{Correo}}</h1>
    <h1>Tu Telefono es {{Telefono}}</h1>
</div>