<div class="box">
    <h1>Estudiantes</h1>
    {{#if isValid}}
        <div>
            {{#each docs}}
               <table>
                    <tr>
                        <th>Nombre: {{this.first_name}}</th>
                        <th>Apellido: {{this.last_name}}</th>
                    </tr>
                    <tr>
                        <th>Grupo: {{this.group}}</th>
                        <th>Calificación: {{this.grade}}</th>
                    </tr>
               </table>
               <br>
            {{/each}}
        </div>
        <hr>
        <div>
            {{#if hasPrevPage}}
                <a href="{{this.prevLink}}"><< Anterior</a>
            {{/if}}
        </div>
        <br>
        <div>
            {{#if hasNextPage}}
                <a href="{{this.nextLink}}">Siguiente >></a>
            {{/if}}
        </div>
    {{else}}
       <h2>No hay estudiantes para mostrar</h2>
    {{/if}}
</div>